export PROXMOX_VE_ENDPOINT='https://<PROXMOX_IP>:8006/' \
  PROXMOX_VE_API_TOKEN='<USER>@pam!<TOKENID>=<UUID>'
  PROXMOX_VE_SSH_USERNAME='root' \
  AWS_ACCESS_KEY_ID='<BACKEND_S3_KEY_ID>' \
  AWS_SECRET_ACCESS_KEY='<BACKEND_S3_KEY_SECRET>'